* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020d45;
  font-size: 1rem;
}

.temp-converter {
  background: #fff;
  width: 100%;
  min-width: 320px;
  padding: 20px 25px;
  height: auto;
  border-radius: 8px;
}

.title {
  color: #222;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
}

.box-field {
  color: #222;
  margin-bottom: 10px;
}

.selection-field {
  color: #222;
  margin-bottom: 10px;
}

button {
  font-size: 0.8rem;
  padding: 5px;
  color: #fff;
  background: #020d45;
  box-shadow: none;
  border-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0.7rem;
}

button:hover {
  color: #020d45;
  background: #fff;
  border-color: #020d45;
}

#tempLabel {
  background: #020d45;
  padding: 5px;
  color: #fff;
  border-radius: 8px;
}
